[submodule "r-base-feedstock"]
	path = r-base-feedstock
	url = ../r-base-feedstock
	branch = master
[submodule "rpy2-feedstock"]
	path = rpy2-feedstock
	url = ../rpy2-feedstock
	branch = master
[submodule "r-dplyr-feedstock"]
	path = r-dplyr-feedstock
	url = ../r-dplyr-feedstock
	branch = master
[submodule "r-ggplot2-feedstock"]
	path = r-ggplot2-feedstock
	url = ../r-ggplot2-feedstock
	branch = master
[submodule "r-survival-feedstock"]
	path = r-survival-feedstock
	url = ../r-survival-feedstock
	branch = master
