[submodule "r-base-feedstock"]
	path = r-base-feedstock
	url = ../r-base-feedstock
	branch = master
[submodule "rpy2-feedstock"]
	path = rpy2-feedstock
	url = ../rpy2-feedstock
	branch = master
[submodule "r-dplyr-feedstock"]
	path = r-dplyr-feedstock
	url = ../r-dplyr-feedstock
	branch = master
[submodule "r-ggplot2-feedstock"]
	path = r-ggplot2-feedstock
	url = ../r-ggplot2-feedstock
	branch = master
[submodule "r-survival-feedstock"]
	path = r-survival-feedstock
	url = ../r-survival-feedstock
	branch = master
[submodule "r-r6-feedstock"]
	path = r-r6-feedstock
	url = ../r-r6-feedstock
	branch = master
[submodule "r-pkgconfig-feedstock"]
	path = r-pkgconfig-feedstock
	url = ../r-pkgconfig-feedstock
	branch = master
[submodule "r-tibble-feedstock"]
	path = r-tibble-feedstock
	url = ../r-tibble-feedstock
	branch = master
[submodule "r-bh-feedstock"]
	path = r-bh-feedstock
	url = ../r-bh-feedstock
	branch = master
[submodule "r-rcpp-feedstock"]
	path = r-rcpp-feedstock
	url = ../r-rcpp-feedstock
	branch = master
[submodule "r-glue-feedstock"]
	path = r-glue-feedstock
	url = ../r-glue-feedstock
	branch = master
[submodule "r-bindrcpp-feedstock"]
	path = r-bindrcpp-feedstock
	url = ../r-bindrcpp-feedstock
	branch = master
[submodule "r-magrittr-feedstock"]
	path = r-magrittr-feedstock
	url = ../r-magrittr-feedstock
	branch = master
[submodule "r-plogr-feedstock"]
	path = r-plogr-feedstock
	url = ../r-plogr-feedstock
	branch = master
[submodule "r-assertthat-feedstock"]
	path = r-assertthat-feedstock
	url = ../r-assertthat-feedstock
	branch = master
[submodule "r-rlang-feedstock"]
	path = r-rlang-feedstock
	url = ../r-rlang-feedstock
	branch = master
